<div class="row">
	<div id="wrapper">

		<div class="rslides_container">
			<ul id="slides1" class="rslides" responsiveslides>
				<li>
					<img src="http://goo.gl/WlcGOc" alt="" />
					<p class="caption">Donec id elit non mi porta gravida at eget metus.</p>
				</li>
				<li>
					<img src="http://store2.up-00.com/2014-10/1412174420363.jpg" alt="" />
					<p class="caption">Donec ullamcorper nulla non metus auctor fringilla.</p>
				</li>
				<li>
					<img src="http://goo.gl/hb0OtA" alt="" />
					<p class="caption">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</li>
				<li>
					<img src="http://i.imgur.com/qF0eA.jpg" alt="" />
					<p class="caption">The Pegasus Saint.</p>
				</li>
			</ul>
		</div>
	</div>
</div>