 <div class="contain-to-grid header-section" ng-controller="MenuCtrl">

  <!-- TOP BAR SECTION -->
  <nav class="top-bar important-class" data-topbar>

    <!-- TITLE AREA & LOGO -->
    <ul class="title-area">
      <li class="name">
        <img src="img/Logo.svg" alt="" id="logo-image">
      </li>

      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul> <!-- END TITLE AREA & LOGO -->


    <!-- MENU ITEMS -->
    <section class="top-bar-section">
      <ul class="right">
        <li ng-class="getClass('/home')" ng-click="setFlag()"><a href="#/home">Home</a></li>
        <li ng-class="getClass('/webdev') || getClass('/mobapps')" class="has-submenu" submenu="{item: 'services'}" ng-click="dropSubmenu()">
          <a href="">Services <span class="dropdown-arrow">▼</span></a>

        </li>
        <li ng-class="getClass('/about')"><a href="#/about">About Us</a></li>
        <li ng-class="getClass('/products')"><a href="#/products">Products</a></li>
        <li ng-class="getClass('/contact')"><a href="#/contact">Contact</a></li>
      </ul>
    </section>
  </nav> <!-- END TOPBAR -->

  <div class="submenu" id="submenu-services">
    <div class="submenu-item">
      <a href="#/webdev" submenu-item="{item: 'webdev', menu: 'services'}" ng-click="setFlag()" >
        <div>
          <object id="svgObject-webdev" data="img/webDev.svg" type="image/svg+xml"></object>
          <!-- <embed src="img/webDev.svg" type=""> -->
          <!-- <img src="img/webDev.png" alt=""> -->
        </div>
        <span>Web Development</span>
      </a>
    </div>

    <div class="submenu-item">
      <a href="#/mobapps" submenu-item="{item: 'mobApps'}" ng-click="setFlag()">
        <div >
          <object id="svgObject-mobApps" data="img/mobApps.svg" type="image/svg+xml"></object>
          <!-- <embed src="img/mobApps.svg" type=""> -->
          <!-- <img src="img/mobApps.png" alt=""> -->
        </div>
        <span>Mobile Apps</span>
      </a>
    </div>

    <!-- <div class="submenu-item">
      <a href="" submenu-item="{item: 'mobApps'}" ng-click="setFlag()">
        <div >
          <object id="svgObject-mobApps" data="img/mobApps.svg" type="image/svg+xml"></object>
          <! <embed src="img/mobApps.svg" type=""> -->
          <!-- <img src="img/mobApps.png" alt=""> -->
          <!-- </div> -->
          <!-- <span>{{test}}</span> -->
          <!-- </a> -->
          <!-- </div> --> 


        </div>

      </div>

      <script>
        function init() {
          var width, margin,
          header = $('.top-bar');
          image = header.find('#logo-image');
          width = image.width();
          margin = image.css('margin-top') + ' ' + image.css('margin-right') + ' ' + image.css('margin-bottom') + ' ' + image.css('margin-left');

          console.log(margin);

          window.addEventListener('scroll', function(e){
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
            shrinkOn = 100;

            if (distanceY > shrinkOn) {


              header.addClass('scroll');
            } else {
              if(header.hasClass('scroll')) {
                header.removeClass('scroll');

              }
            }
          });
        }
        window.onload = init();


      </script>

