 <div class="contain-to-grid header-section">

  <!-- TOP BAR SECTION -->
  <nav class="top-bar important-class" data-topbar>

    <!-- TITLE AREA & LOGO -->
    <ul class="title-area">
      <li class="name">
        <img src="img/Logo.svg" alt="" id="logo-image">
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
</ul> <!-- END TITLE AREA & LOGO -->


<!-- MENU ITEMS -->
<section class="top-bar-section">
  <ul class="right">
    <li class="active"><a href="#">Home</a></li>
    <li class="has-submenu" data-item="services">
      <a href="#">Services <span class="dropdown-arrow">▼</span></a>

  </li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Products</a></li>
  <li><a href="#">Contact</a></li>
</ul>
</section>
</nav> <!-- END TOPBAR -->

<div class="submenu" id="submenu-services">
    <div class="submenu-item">
      <a href="#" data-submenuitem="webdev">
        <div>
          <object id="svgObject-webdev" data="img/webDev.svg" type="image/svg+xml"></object>
          <!-- <embed src="img/webDev.svg" type=""> -->
          <!-- <img src="img/webDev.png" alt=""> -->
      </div>
      <span>Web Development</span>
  </a>
</div>

<div class="submenu-item">
  <a href="#" data-submenuitem="mobApps">
    <div >
      <object id="svgObject-mobApps" data="img/mobApps.svg" type="image/svg+xml"></object>
      <!-- <embed src="img/mobApps.svg" type=""> -->
      <!-- <img src="img/mobApps.png" alt=""> -->
  </div>
  <span>Mobile Apps</span>
</a>
</div>


</div>

</div>

