#Nity {
	display: inline;
}

@media only screen { 
	#Nity {
		display: none;
	}
} 


@media only screen and (min-width: 40.063em) { 
	#Nity {
		display: inline;
	}
} 
@media only screen and (min-width: 64.063em) { }
@media only screen and (min-width: 90.063em) { } 

@media only screen and (min-width: 120.063em) { } 